In [3]:
import pandas as pd

df = pd.read_csv('./reviews.csv',index_col=0)

In [4]:
df.head()

,reviews,Date,Country,Stars
0,✅ Trip Verified | Easy check in a T5. Galleri...,13th August 2023,United Kingdom,5
1,"Not Verified | Flight delayed by an hour, it ...",12th August 2023,United States,8
2,Not Verified | The staff are very rude and not...,11th August 2023,United Kingdom,2
3,✅ Trip Verified | Good domestic flight operat...,8th August 2023,United Kingdom,2
4,Not Verified | Failed at all basic travel fund...,8th August 2023,Canada,10

In [8]:
df['verifed'] = df.reviews.str.contains('Trip Verified')    
df['verifed']

0        True
1       False
2       False
3        True
4       False
        ...
3595    False
3596    False
3597    False
3598    False
3599    False
Name: verifed, Length: 3600, dtype: bool

In [7]:
df.head()

,reviews,Date,Country,Stars,verifed
0,✅ Trip Verified | Easy check in a T5. Galleri...,13th August 2023,United Kingdom,5,True
1,"Not Verified | Flight delayed by an hour, it ...",12th August 2023,United States,8,False
2,Not Verified | The staff are very rude and not...,11th August 2023,United Kingdom,2,False
3,✅ Trip Verified | Good domestic flight operat...,8th August 2023,United Kingdom,2,True
4,Not Verified | Failed at all basic travel fund...,8th August 2023,Canada,10,False